.HeroContainer {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: initial;
  /* background-color: gold; */
  margin-top: 1.5em;
  padding: 10px;
}
@media screen and (max-width: 850px) {
  .HeroContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 560px) {
  .HeroContainer {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 350px) {
  .HeroContainer {
    width: 100%;
    flex-direction: column-reverse;
    align-content: center;
    padding: 0;
  }
}
